---
---

<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-4">
    <a
      href="/projects"
      class="unset ml-4 rounded-sm transition-[background-size] duration-150 bg-left-bottom bg-[length:100%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-blue to-primary-blue dark:hover:text-primary-blue"
      >My Latest Projects</a
    >
  </h1>
  <ul class="mt-5">
    <li class="mb-2">
      <!-- Adjusted margin bottom -->
      <strong>
        <a
          href="https://github.com/flexdinesh/blogster"
          class="unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
          >A design system boilerplate with multiple themes</a
        >
      </strong>
    </li>
    <li class="mb-2">
      <!-- Adjusted margin bottom -->
      <strong>
        <a
          href="https://github.com/yourProjectLinkHere"
          class="unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
          >A minimal landing page for developers</a
        ></strong
      >
    </li>
  </ul>
  <div class="flex justify-end mt-5">
    <a
      href="/projects"
      class="unset ml-4 rounded-sm transition-[background-size] duration-150 bg-left-bottom bg-[length:100%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
    >
      <i class="fa-solid fa-hand-pointer" aria-hidden="true"></i>
      <span><strong>Check Out More Projects</strong></span>
    </a>
  </div>
</div>
<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-4">
    <a
      href="/blog"
      class="unset ml-4 rounded-sm transition-[background-size] duration-150 bg-left-bottom bg-[length:100%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-blue to-primary-blue dark:hover:text-primary-blue"
      >Latest Blog Posts</a
    >
  </h1>
  <ul class="mt-5">
    <li class="mb-2">
      <!-- Adjusted margin bottom -->
      <strong>
        <a
          href="https://github.com/flexdinesh/blogster"
          class="unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
          >A design system boilerplate with multiple themes</a
        >
      </strong>
    </li>
    <li class="mb-2">
      <!-- Adjusted margin bottom -->
      <strong>
        <a
          href="https://github.com/yourProjectLinkHere"
          class="unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
          >A minimal landing page for developers</a
        ></strong
      >
    </li>
  </ul>
  <div class="flex justify-end mt-5">
    <a
      href="/blog"
      class="unset ml-4 rounded-sm transition-[background-size] duration-150 bg-left-bottom bg-[length:100%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
    >
      <i class="fa-solid fa-hand-pointer" aria-hidden="true"></i>
      <span><strong>Check Out More Posts</strong></span>
    </a>
  </div>
</div>
