---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        👋 Hi, I'm Mohammed Zubair
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div class="container mx-auto flex justify-between items-center p-6">
    <div class="flex-1">
      <h1 class="text-3xl font-bold">Data Professional</h1>
      <p class="mb-5">
        Strong background in Banking and <strong>Data Analytics</strong> with 3+
        years of experience working with complex, big data in the Financial Services
        Industry, and a Master’s degree in <strong
          >Business Analytics and Information Systems</strong
        >, along with a Postgraduate Diploma in <strong
          >Banking and Finance</strong
        >, emphasizing advanced data analysis techniques and financial modeling.
      </p>
      <a
        class="unset ml-4 rounded-sm transition-[background-size] duration-150 bg-left-bottom bg-[length:100%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
        href="https://www.linkedin.com/in/mohammedzubairshaik/" target="_blank"
      >
        <i
          class="fa-brands fa-linkedin"
          aria-hidden="true"
          title="Zubair on Linkedin"></i>
        <span><strong>Let's connect!</strong></span>
      </a>
    </div>
    <!-- Divider -->
    <div class="w-px bg-gray-300 self-stretch mx-6"></div>
    <div class="flex-1">
      <!-- Replace 'path_to_your_image.jpg' with the actual path to your image -->
      <img
        src="/images/profile.png"
        alt="Profile Picture"
        class="rounded-full w-200 h-200 object-cover"
      />
    </div>
  </div>
</section>
